<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="updateCustomCustomer" frontName="updateCustomCustomer">
            <module name="Icube_CustomCustomer" before="Magento_Backend" />
        </route>
    </router>
</config>