<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::system">
                    <resource id="Xtento_XtCore::extensions">
                        <resource id="Xtento_OrderImport::configuration" title="Order Import Module" sortOrder="30"/>
                    </resource>
                </resource>
                <resource id="Magento_Sales::sales">
                    <resource id="Xtento_OrderImport::menu" title="Order Import Module" sortOrder="1000">
                        <resource id="Xtento_OrderImport::manual" title="Manual Import" sortOrder="5"/>
                        <resource id="Xtento_OrderImport::log" title="Execution Log" sortOrder="10"/>
                        <resource id="Xtento_OrderImport::history" title="Import History" sortOrder="15"/>
                        <resource id="Xtento_OrderImport::profile" title="Import Profiles" sortOrder="20"/>
                        <resource id="Xtento_OrderImport::source" title="Import Sources" sortOrder="30"/>
                        <resource id="Xtento_OrderImport::tools" title="Tools" sortOrder="40"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
<!--
/**
 * Product:       Xtento_OrderImport
 * ID:            oqsi2y9WE6C6UMS277bs1A30bLpPe+n3JPzkpe97fvg=
 * Last Modified: 2019-03-05T12:07:48+00:00
 * File:          app/code/Xtento/OrderImport/etc/acl.xml
 * Copyright:     Copyright (c) XTENTO GmbH & Co. KG <info@xtento.com> / All rights reserved.
 */
-->