<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <misipintar>
            <api>
                <url_endpoint><![CDATA[https://onepiece-staging.warungpintar.co/graphql/query]]></url_endpoint>
                <auth_token/>
            </api>
        </misipintar>
    </default>
</config>
