<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Icube_CustomMultiseller" setup_version="1.0.1">
        <sequence>
            <module name="Icube_PwaCheckout"/>
            <module name="Swiftoms_Multiseller"/>
        </sequence>
    </module>
</config>
