<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Ced\Advancerate\Model\Carrier\Advancerate" type="Icube\OverrideAdvancerate\Model\Carrier\Advancerate" />
    <preference for="Icube\ShipmentRate\Block\Adminhtml\Shipmentrate\Edit\Form" type="Icube\OverrideAdvancerate\Block\Adminhtml\Shipmentrate\Edit\Form" />
</config>